.card-wrapper {
    margin: unset;
}
.cards-container {
    width: 100%;
    padding: unset;
    margin: unset;
    background-color: red;
}
.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 33%));
    grid-gap: 0; */
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #152f17;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color);
    color: #d4c49c;
    font-family: 'LeJeuneDeck-Regular-Web';
    font-size: 13px;
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    /* aspect-ratio: 4 / 3; */
    object-fit: cover;
}