main .black-history-month {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  text-align: center;
  height:auto;
  margin: 0;
  padding: 0;
  max-height: 78em;
  margin-bottom: -10px;
}

main .black-history-month .bg-image,
main .black-history-month .overlay {
  position: relative;
  min-width: 100%;
  height: auto;
  z-index: -1;
  top: 0;
  left: 0;
}

main .black-history-month .overlay {
  position: absolute;
  padding: 1.688em 0 0;
}

main .black-history-month .bg-image > picture > img {
  min-width: 100%;
}

main .black-history-month .overlay>.default-content-wrapper {
  margin: 0 70px ;
  font-family: 'Cormorant Garamond', serif;
  font-weight: light;
  font-size: 18px;
  line-height: 1.333em;
}

main .black-history-month .photo-grid {
  padding-top: 50px;
}
main .black-history-month .photo-grid>div {
  display: flex;
  justify-content: center;
  width: 28em;
  margin: 0 auto;
}

main .black-history-month .photo-grid>div>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .black-history-month .photo-grid > .cols > div > div > img,
main .black-history-month .photo-grid > .cols > div > div > video {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
}

/* main .black-history-month .photo-grid > .cols > div.left-col > div img,
main .black-history-month .photo-grid > .cols > div.right-col > div img,
main .black-history-month .photo-grid > .cols > div.right-col > div video,
main .black-history-month .photo-grid > .cols > div.right-col > div video {
  
} */

main .black-history-month .photo-grid > .cols > div.left-col,
main .black-history-month .photo-grid > .cols > div.right-col {
  max-width: 184px;
}

main .black-history-month .photo-grid > .cols > div.middle-col {
  min-width: 290px;
  padding: 0 20px;
}

main .black-history-month .photo-grid > .cols > div.middle-col img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: auto;
}

main .black-history-month .photo-grid h3 {
  font-family: "LeJeuneDeck-Regular-Web";
  font-weight: lighter;
  font-size: 18px;
  line-height: .956em;
  color: #000;
  text-transform: none;
}

main .black-history-month .photo-grid p {
  font-family: "Founders Grotesk Mono Regular";
  font-weight: lighter;
  font-size: 11px;
  line-height: 35.2px;
  color: #000;
  text-transform: none;
}

@media (min-width: 900px) {
  main .black-history-month .overlay {
    width: 16em;
  }


  main .black-history-month .overlay>.default-content-wrapper {
    margin: 0 210px ;
    font-family: 'Cormorant Garamond', serif;
    font-weight: light;
    font-size: 22px;
    line-height: 1.333em;
  }

  main .black-history-month .photo-grid > .cols > div.left-col,
  main .black-history-month .photo-grid > .cols > div.right-col {
    min-width: 234px;
  }

  main .black-history-month .photo-grid > .cols > div.middle-col {
    min-width: 440px;
    padding: 0 20px;
  }

  main .black-history-month .photo-grid > .cols {
    width: 900px;
  }

  main .black-history-month .photo-grid h3 {
    font-family: "LeJeuneDeck-Regular-Web";
    font-weight: lighter;
    font-size: 24px;
    line-height: .956em;
    color: #000;
    text-transform: none;
  }
  
  main .black-history-month .photo-grid p {
    font-family: "Founders Grotesk Mono Regular";
    font-weight: lighter;
    font-size: 18px;
    line-height: 35.2px;
    color: #000;
    text-transform: none;
  }
}