.columns > div {
    display: flex;
    flex-direction: row;
    background-color: #152E17;
}

.columns > div > div {
    width: 50%;
}

.columns img {
    width: 100%;
}

.columns > div > div:has(h2) {
    width: 26.438em;
    text-align: center;
}

.columns > div > div > h2::before {
    content: '';
    display: block;
    height: 0.6em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../icons/0131_black_history_month_lp_c01_arrow_icon_1.png');
    margin: 0 auto 0.556em;
    text-align: center;
}

.columns > div > div > h2::after {
    content: '';
    display: block;
    height: 0.6em;
    width: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-size: contain;
    background-image: url('../../icons/0131_black_history_month_lp_c01_arrow_icon_1.png');
    margin: .556em auto 0;
    text-align: center;
}

.columns > div > div > h2 {
    font-size: 2em;
    color: #D4C49C;
    line-height: 0.900em;
    width: 412px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
}

.columns > div > div > p {
    font-size: .850em;
    line-height: 2.600em;
    font-family: "LeJeuneDeck-Regular-Web";
    color: white;
}


.columns > div > div > p:nth-child(3) {
    font-family: "Founders Grotesk Text Regular";
    font-size: 16px ;
    letter-spacing: 0.014em;
    line-height: 1.750em;
    width: 30.188em;
    margin: 1.563em auto;
    color: white;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}