.columns > div {
    display: flex;
    flex-direction: row;
    background-color: #152E17;
}

.columns > div > div {
    width: 50%;
}

.columns img {
    width: 100%;
}

.columns > div > div:nth-child(2) {
    width: 26.438em;
    text-align: center;
}

.columns > div > div:nth-child(2) > h2::before {
    content: '';
    display: block;
    height: 0.6em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../icons/0131_black_history_month_lp_c01_arrow_icon_1.png');
    margin: 0 auto 0.556em;
    text-align: center;
}

.columns > div > div:nth-child(2) > h2::after {
    content: '';
    display: block;
    height: 0.6em;
    width: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-size: contain;
    background-image: url('../../icons/0131_black_history_month_lp_c01_arrow_icon_1.png');
    margin: .556em auto 0;
    text-align: center;
}

.columns > div > div > h2 {
    font-size: 2em;
    color: #D4C49C;
    line-height: 0.500em;
    width: 357px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
}

.columns > div > div:nth-child(2) > p {
    font-size: .850em;
    line-height: 2.600em;
    font-family: "LeJeuneDeck-Regular-Web";
    color: white;
}

.columns > div > div > p.button-container > a::before {
    /* content: "";
    top: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg) scale(1.4);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.75em 1.313em 0.75em;
    border-color: transparent transparent currentColor transparent;
    content: '';
    font-size: .35em;
    position: absolute; */
}

.columns > div > div:nth-child(2) > p:nth-child(3) {
    font-family: "Founders Grotesk Text Regular";
    font-size: 16px ;
    letter-spacing: 0.014em;
    line-height: 1.750em;
    width: 30.188em;
    margin: 1.563em auto;
    color: white;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}