/* block specific CSS goes here */

main .hero-container>div {
    max-width: unset;
}

main .hero-container {
    padding: 0;

}

main .hero {
    position: relative;
    padding: 32px;
    min-height: 300px;
    z-index: -1;
    margin-top: var(--nav-offset);
}

main .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


main .hero picture,
main .hero video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

main .hero img,
main .hero video {
    object-fit: cover;
    width: 100%;
    height: auto;
}

main .hero.video>div:nth-child(2)>div {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 355px;
    height: 176px;
}

main .hero.video>div:nth-child(2)>div h3 {
    font-size: 1.125em;
    letter-spacing: 0.026em;
    line-height: 1.556em;
    margin: 0 auto 1.167em;
    display: inline-block;
    font-family: "Cormorant Garamond", serif;
    font-size: 11px;
    color: white;
}

main .hero.video>div:nth-child(2)>div h3::before {
    content: '';
    display: block;
    height: 0.6em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../icons/0131_black_history_month_lp_c01_arrow_icon_1.png');
    margin: 0 auto 0.556em;
}


main .hero.video>div:nth-child(2)>div h3::after {
    content: '';
    display: block;
    height: 0.6em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../icons/0131_black_history_month_lp_c01_arrow_icon_1.png');
    margin: 0 auto 0.556em;
}