main .reveal > div h2 {
  font-size: 4.250em;
  letter-spacing: 0;
  line-height: 0.900em;
  color: #AFA36C;
  font-family: 'Cormorant Garamond', serif;
  font-weight: lighter;
  margin: auto;
  width: 80%;
}

main .reveal > div h2 {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .reveal video {
  width: 0;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
}

main .reveal .overlay-h2 {
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  width: 0;
  background-color: red;
}

main .reveal .overlay-h2 h2 {
  color: white;
  width: 100%;
}