/* below the fold CSS goes here */

@font-face {
  font-family: 'Founders Grotesk Mono Regular';
  src: url('./fonts/FoundersGroteskMonoWeb-Regular.woff');
}

@font-face {
  font-family: 'Founders Grotesk Text Regular';
  src: url('./fonts/FoundersGroteskTextWeb-Regular.woff');
}

@font-face {
  font-family: RL-icons;
  src: url('./fonts/RL-icons.woff');
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;1,400;1,700&display=swap');
}

@font-face {
  font-family: 'LeJeuneDeck-Regular-Web';
  src: url('./fonts/LeJeuneDeck-Regular-Web.woff');
}
